.t1
{
position: relative;
top: 20px;
text-align: center;
 text-decoration: underline;
}

.image1
{
width:200px;
height:200px;
border-radius: 50%;
position: relative;
top: 20px;
}


h1, h6, h5
{
position: relative;
top: 20px;
  text-align: center;
}

h5
{
  font-family: cursive;
}

body
{ background-color: #fbebfc;
}
