.t1
{
position: relative;
top: 20px;
text-align: center;
 text-decoration: underline;
 font-family:  cursive;
}

.image1
{
width:200px;
height:200px;
border-radius: 50%;
position: relative;
top: 20px;
}


h1, h6, h5
{
position: relative;
top: 20px;
text-align: center;
}

h5
{
font-style: italic;
line-height: 2cm;
}

body
{ background-color: #fbebfc;
  line-height: 1cm;
}

img.main {
float: right;
border-radius: 8px;
}


div {
  width: 150px;
  height: 3cm;
  border: 15px solid white;
  padding: 50px;
  margin: 20px;
}
