/* .bg-success {
  text-align: center;
} */

.p1{
  text-align: center;
  margin: 10px;
  padding: 50px;
}
.p2 {
  text-align: center;
  margin: 10px;
  padding: 50px;
}
.p3 {
  text-align: center;
  margin: 10px;
  padding: 50px;
}
